
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

@{ 
    var grafik = new Chart(width: 750, height:750);
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Değerler");
    grafik.AddSeries(
        name: "Veriler",
        chartType: "bar",
        xValue: new[] { "Beyaz Eşya", "Televizyon", "Bilgisayar" },
        yValues: new[] { 500, 200, 345 }
        );
    grafik.Write();
}