@model MVCOnlineTicariOtomasyon.Models.SINIFLAR.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Departman Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.DepartmanAD)
    <br />
    @Html.TextBoxFor(x => x.DepartmanAD, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">KAYDET</button>
</form>

